@font-face {
  font-family: "matrix";
  src: url("digital-7.ttf");
}

body {
  background-color: #222;
  margin: 0;
}

body {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#container {
  background-color: #555;
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  flex-basis: 400px;
  gap: 8px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0.2);
}

@media (max-width: 600px) {
  #container {
    width: 80%;
  }

  .footer > h1 {
    font-size: large;
  }
}

#screen {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}
#screen > p {
  min-height: 30px;
  font-family: matrix;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.reset {
  display: flex;
}
.reset > button {
  background-color: #007bff;
}
.reset > button:hover {
  background-color: #007bffd3;
}
.reset > button:active {
  background-color: #007bff;
}

.digit {
  background-color: #e9ecef;
}
.digit:active {
  background-color: #e9ecef;
}
.digit:hover {
  background-color: #b1b6b8;
}

.operator {
  background-color: #ff9800;
  font-family: "matrix";
}
.operator:hover {
  background-color: #ffb573;
}
.operator:active {
  background-color: #ff9800;
}

.equal {
  background-color: #b0b0b0;
  font-size: 50px;
  font-family: "matrix";
}
.equal:hover {
  background-color: #999999;
}
.equal:active {
  background-color: #b0b0b0;
}

.digit-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.digit-btn > div {
  display: flex;
  gap: 5px;
}

button {
  flex: 1;
  height: 70px;
  font-family: matrix;
  font-size: 30px;
  font-weight: bold;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  align-self: stretch;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: small;
  font-variation-settings: "wdth" 100;
}
.github-link {
  margin-top: auto;
  margin-bottom: auto;
}
