
@font-face {
  font-family: "matrix";
  src: url("digital-7.ttf");
}

body {
  background-color: #222;
  margin : 0;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction:column;
  gap:50px;
}

.footer {
  text-align: center;
  background-color:white;
  align-self: stretch;
  padding-bottom:2px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  font-size:small;
  font-variation-settings:
    "wdth" 100;
}

#container {
    background-color: #555;
    margin-top:20px;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 10px;
  border: solid 10px black;
  border-radius: 20px;
  /* background-color: beige; */
  padding: 20px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0.2);
}

#screen {
  /* background-color: green; */
  background-color: #F8F9FA;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  border-radius: 10px;
}

#screen p {
  margin: 0;
  margin-bottom: 1px;
  padding: 39px;
  min-height: 20px;
  height: 40px;
  font-family: "matrix";
  font-size: 40px;
  font-weight: bold;
}

#digit-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 0;
}
button {
  border-radius: 10px;
  font-weight: bolder;
  font-size: large;
}

.reset {
  padding: 10px 200px;
  border-radius: 3px;
  background-color: #007bff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-family: "matrix";
}
.reset:active {
  background-color: #0044ff;
}

.digit {
  background-color: #e9ecef;
  color: black;
  font-family: "matrix";
}
.digit:active {
  background-color: #555;
  transform: scale(0.95);
}

.operator {
  background-color: #ff9800;
  font-family: "matrix";
}
.operator:active {
  background-color: #ffb573;
  transform: scale(0.95);
}

.equal {
  background-color: #b0b0b0;
  font-size: 50px;
  font-family: "matrix";
}
.equal:active {
  background-color: #999999;
  font-size: 50px;
}

#row1,
#row2,
#row3,
#row4 {
  display: flex;
  gap: 10px;
}

#row1 button,
#row2 button,
#row3 button,
#row4 button {
  flex: 1;
  padding: 40px;
  font-size: 25px;
}
p {
  font-family: "matrix";
  font-size: 40px;
  font-weight: bold;
}
